In [1]:
//parquet library prints many warnings - ignore for this example
p)import warnings
p)warnings.filterwarnings("ignore")

In [2]:
//Import pandas, numpy, and pyarrow
p)import pandas as pd
p)import numpy as np
p)import pyarrow as pa

In [3]:
//Create a sample table
qtab:([] one:-1 0 2.5;two:("foo";"bar";"baz");three:101b)
qtab

one two   three
---------------
-1  "foo" 1
0   "bar" 0
2.5 "baz" 1

In [4]:
//Create a dataframe from the q table
.p.set[`df;] .p.import[`pandas;`:DataFrame]qtab

In [5]:
p)from IPython.display import display, HTML
p)display(HTML(df.to_html()))

In [6]:
//Write the dataframe to a parquet file
p)import pyarrow.parquet as pq
p)table = pa.Table.from_pandas(df)
p)pq.write_table(table, 'example.parquet')

In [7]:
//Read the parquet file back to a dataframe
p)table2 = pq.read_table('example.parquet')
p)df2 = table2.to_pandas()
p)display(HTML(df2.to_html()))

In [8]:
//Bring the dataframe in to q as a wrapped foreign 
df2:.p.wrap .p.pyget`df2
print df2

   one  two  three
0 -1.0  foo   True
1  0.0  bar  False
2  2.5  baz   True

In [9]:
//Extract the table data as a dictionary
qdict:df2[`:to_dict;`list]`
qdict

one  | -1    0     2.5
two  | "foo" "bar" "baz"
three| 1     0     1

In [10]:
//Flip the dictionary to give a table
flip qdict

one two   three
---------------
-1  "foo" 1
0   "bar" 0
2.5 "baz" 1