In [1]:
\l ../../qparquet.q
p)import numpy as np

In [2]:
p)times=[np.datetime64('2012-06-30T21:00:00.000000000-0400')] * 4
p)table=pandas.DataFrame(columns=['easy','time'])
p)table['time'] = times
p)table['easy'] = [1,2,3,4]
p)print(table)
p)pyarrowTable = pyarrow.Table.from_pandas(table)
p)parquet.write_table(pyarrowTable, 'example.parquet')

   easy                time
0     1 2012-07-01 01:00:00
1     2 2012-07-01 01:00:00
2     3 2012-07-01 01:00:00
3     4 2012-07-01 01:00:00

After bringing the table in to kdb+ the `time` column is showing as `foreign`

In [3]:
.qparquet.getTable[`:example.parquet]

easy time
------------
1    foreign
2    foreign
3    foreign
4    foreign

Let's try and bring across the underlying numeric value

In [4]:
p)table['time'] = pandas.to_numeric(table['time'])
p)print(table)

   easy                 time
0     1  1341104400000000000
1     2  1341104400000000000
2     3  1341104400000000000
3     4  1341104400000000000

Casting directly to timestamp gives incorrect times

In [5]:
table:.p.wrap .p.pyget`table
qdict:table[`:to_dict;`list]`
@[qdict;`time;`timestamp$]

easy| 1                             2                             3          ..
time| 2042.07.01D01:00:00.000000000 2042.07.01D01:00:00.000000000 2042.07.01D..

Knowing that the time epoch in Kdb+ is `2000.01.01` we can see see that python is using `1970.01.01`

In [6]:
timediff:2042.07.01D01-2012.07.01D01
2000.01.01D00-timediff

1970.01.01D00:00:00.000000000

Using the difference in epochs we can now perform the correct casting

In [7]:
epochOffsetNS:`long$2000.01.01D-1970.01.01D
@[`qdict;`time;{`timestamp$x-epochOffsetNS}]
flip qdict

`qdict

easy time
----------------------------------
1    2012.07.01D01:00:00.000000000
2    2012.07.01D01:00:00.000000000
3    2012.07.01D01:00:00.000000000
4    2012.07.01D01:00:00.000000000

Using `.qparquet.getColumnCustom` this can be done in one shot

In [8]:
{`timestamp$x-epochOffsetNS}.qparquet.getColumnCustom[`:example.parquet;`time;"table['time']=pandas.to_numeric(table['time'])"]

2012.07.01D01:00:00.000000000 2012.07.01D01:00:00.000000000 2012.07.01D01:00:..

This is further simplified by `.qparquet.getColumnsCustom`and `.qparquet.getTableCustom` which takes dictionaries of casting rules

In [9]:
pyConversions:enlist[`time]!enlist "table['time'] = pandas.to_numeric(table['time'])";
epochOffsetNS:`long$2000.01.01D-1970.01.01D
qConversions:enlist[`time]!enlist {`timestamp$x-epochOffsetNS};

In [10]:
.qparquet.getColumnsCustom[`:example.parquet;enlist `time;pyConversions;qConversions]

time
-----------------------------
2012.07.01D01:00:00.000000000
2012.07.01D01:00:00.000000000
2012.07.01D01:00:00.000000000
2012.07.01D01:00:00.000000000

In [11]:
.qparquet.getTableCustom[`:example.parquet;pyConversions;qConversions]

easy time
----------------------------------
1    2012.07.01D01:00:00.000000000
2    2012.07.01D01:00:00.000000000
3    2012.07.01D01:00:00.000000000
4    2012.07.01D01:00:00.000000000